/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* ------------------------- Image Compare Styles ------------------------- */
.ic-container {
	width:630px;
	height:354px;
	background:#ccc;
	margin-bottom:45px;
	margin-left:auto;
	margin-right:auto;
	border-left:5px;
	border-right:5px;
	border-top:5px;
	border-bottom:5px;
	border-style: solid;
	border-color: #638f35;
	display:none;
}

h1#page-title {
	font-size:3em;
}
#region-branding.region-branding {
	hieght:80px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:0;
	padding-right:0;
 }
 /* ------------------------- Navigation Menu Block Styles ------------------------- */


/* ------------- Region Spacing and Stacking Adjustments ------------- */
/*.responsive-layout-narrow #region-content {
	width:700px;
	padding-left:0;
	padding-right:0;
	padding-bottom:20px;
	border-bottom:1px dashed #4d9dbe;
}
.responsive-layout-narrow #region-sidebar-second {
	width:700px;
	padding-left:0;
	padding-right:0;
	padding-bottom:20px;
	padding-top:20px;
}
.responsive-layout-narrow .flex-nav-container {
    margin-bottom: 0;
}
.responsive-layout-narrow .flexslider {
    margin: 0 0 20px;
}
/* ------------- Font Adjustments ------------- */
.responsive-layout-narrow .block-news-block {
    border-left:none;
    padding-left: 0px;
}
.block-views h2.block-title, .region-content h2 {
    text-align: left;
	font-size:3em;
	line-height:0.8em;
}
/* ------------------------- Block Styles ------------------------- */
.block-people-block-1 .view.view-people {
	
}
.block-people-block-1 .view-content {

}
.block-people-block-1 .people-profile-list.people-profile-active {
	background:url(../images/block_overlay_bg.png) transparent;
}
.block-people-block-1 .people-profile-list {
	clear:both;
	margin-top:0px;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	padding:10px;
	
}
.block-people-block-1 .people-profile-list .profile-thumb {
}
.block-people-block-1 .people-profile-list .profile-thumb-gray {
}
.block-people-block-1 .people-profile-list .profile-large {
	float:none;
	display:none;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.block-people-block-1 .people-profile-list .profile-thumb img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list .profile-thumb-gray img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list .profile-large img{
	border:#fff solid 4px;
}
.block-people-block-1 .people-profile-list p{
	margin-left:20px;
	padding-right:30px;
	font-size:1em;
}
.block-people-block-1 .people-profile-list h2{
	font-size:2.5em;
	text-align:center;
	margin-left:0;
	margin-top: 10px;
	margin-bottom:10px;
}