/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* ------------------------- Image Compare Styles ------------------------- */
.ic-container {
	width:850px;
	height:478px;
	background:#ccc;
	margin-bottom:45px;
	margin-left:auto;
	margin-right:auto;
	border-left:5px;
	border-right:5px;
	border-top:5px;
	border-bottom:5px;
	border-style: solid;
	border-color: #638f35;
	display:none;
}

.zone-menu .menu-name-main-menu ul.menu li a:link,
.zone-menu .menu-name-main-menu ul.menu li a:visited {
	padding-right:15px;
	padding-bottom:0px;
	padding-top:87px;
	font-size: 2em;
}
.zone-menu .menu-name-main-menu ul.menu li a:hover,
.zone-menu .menu-name-main-menu ul.menu li a.active {
	padding-right:15px;
	padding-bottom:0px;
	font-size: 2em;
}
.zone-menu li.menu-mlid-403 a:link,
.zone-menu li.menu-mlid-403 a:visited {
	padding-left:15px;
}
.zone-menu li.menu-mlid-390 a:link,
.zone-menu li.menu-mlid-390 a:visited {
	padding-left:15px;
}
.zone-menu li.menu-mlid-391 a:link,
.zone-menu li.menu-mlid-391 a:visited {	
	padding-left:15px;
}
.zone-menu li.menu-mlid-392 a:link,
.zone-menu li.menu-mlid-392 a:visited {	
	padding-left:15px;
}
.zone-menu li.menu-mlid-805 a:link,
.zone-menu li.menu-mlid-805 a:visited {
	padding-left:15px;
}
.zone-menu li.menu-mlid-394 a:link,
.zone-menu li.menu-mlid-394 a:visited {	
	padding-left:15px;
}